.home-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 710px;
  height: 122px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.home-text {
  width: 710px;
  height: 52px;
  left: calc(50% - 710px / 2);
  top: calc(50% - 52px / 2 - 35px);

  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 52.42px;
  letter-spacing: 0.1em;

  color: #ffffff;

  cursor: default;
}
